<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" name="viewport" />
<!-- <meta content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<title>list</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" />
</head>

<body>
	<h1>Board List Table</h1>
	<table class="table">"C:/Users/Hyeseon/Downloads/thymeleaf_Tutorial_번역본_v1.1_20131213.pdf"
		<thead>
		<tr>
			<th scope="col">번호</th>
			<th scope="col">이름</th>
			<th scope="col">제목</th>
			<th scope="col">날짜</th>
			<th scope="col">조회수</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="vo : ${list}">
				<th scope="row" th:text="${vo.bid}"></th>
				<th th:text="${vo.bname}"></th>
				<th>
					<span th:unless="${vo.bindent<=0}" th:each="indent: ${#number.sequence(1, vo.bindent)}" th:text="[re]"></span> 
					<!-- <span th:each="num: ${#numbers.sequence(1,5)}"> -->
					<a th:href="@{content_view(bid=${vo.bid})}" th:text="${vo.btitle}"></a> 
				</th>
				<th th:text="${vo.bdate}"></th>
				<th th:text="${vo.bhit}"></th>
			</tr>
		</tbody>
		<tfoot>
		<tr>
			<th scope="row" colspan="5"><!-- <a th:href="@{board/write_view}">글작성</a> --></th>
		</tr>
		</tfoot>
	</table>
	
   <span th:if test="${pageMaker.prev}">
		<a href="list2${pageMaker.makeQuery(pageMaker.startPage - 1) }">«</a>
	</span>

	<span th:each="idx: ${#number.sequence(pageMaker.startPage, pageMaker.endPage)}">
		<span th: value="${pageMaker.cri.pageNum == idx?'':''}" />
		<a href="list2${pageMaker.makeQuery(idx)}">${idx}</a>
	</span>

	<span th:if test="${pageMaker.next && pageMaker.endPage > 0}">
		<a href="list2${pageMaker.makeQuery(pageMaker.endPage +1) }"> » </a>
	</span>
	<br>


	<form id="actionForm" action="/board/list" method="get">
		<input type='hidden' name='pageNum'
			value='${apgeMaker.cri.pageNum}'> <input type='hidden'
			name='amount' value='${apgeMaker.cri.amount}'>
	</form>
	<!-- End of Pagination -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
  </body>
</html>
